doctype html
html
    head(lang='fr')
    meta(charset='UTF-8')
    title Hello !
    link(rel='stylesheet', type='text/css' href='../../stylesheets/style.css', )
    script(type='text/javascript' src="../../javascripts/test.js")
    script(src='https://d3js.org/d3.v3.min.js')
    script.

    body
        block content