body {
	font-family: Helvetica; 
	font-weight:bold;
}

.gauge1, .gauge2, .gauge3, .gauge4, .gauge5, .gauge6 {
	text-align: left; 
	margin: 4.12em;
}

/*.liquidFillGaugeText { 
	font-family: Helvetica; 
	font-weight: bold; 
}*/
