body {
	font-family: Helvetica; 
	font-weight:bold;
}

.gauge1, .gauge2, .gauge3, .gauge4 {
	text-align: left; 
	margin: 2.85em;
}



/*.liquidFillGaugeText { 
	font-family: Helvetica; 
	font-weight: bold; 
}*/
